@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/*VARIÁVEIS DE CORES*/
/*CAD3D5*/
:root {
    --logo-text: #135A42;
    --logo-text-black: #363435;
    --logo-color-test: #a69a90;
    --bg-color: #fdfdfd;
    --text-color: #135A42;
    --main-color: #363435;
    --white-color: #CAD3D5;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;


}

body {
    background: var(--white-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    left: 0;
    right: 150px;
    width: 100%;
    padding: 2rem ;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 .1rem 1rem var(--shadow-color);
    z-index: 100;
    transition: .5s;
}

/*ALTERAÇÃO DO BACKGROUNDO DO HEADER */
.header.sticky {
    background: #fff;
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;

}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: bold;
    margin-right: 3.5rem;

}

.header.sticky .navbar a {
    color: var(--logo-text);
}


.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background-color: var(--main-color);
    opacity: .7;
}

.header.sticky {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home img {
    margin-right: -80px;
    width: 754px;
    height: 400px;

}

.home .home-content {
    max-width: 50rem;

}

.home-content h3 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 8rem;
    color: #000;
}

.home-content h1 {
    color: var(--logo-color-test);
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 15px;
    width: 80%;

}

.home-content h3 .nobre {
    font-size: 5rem;
    color: var(--logo-text-black);

}

.home-content h3 span {
    font-size: 5rem;
    color: var(--logo-text);

}


.home-content p {
    font-size: 1.6rem;
}



.home-content .social-media button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 4rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 20px;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin: 2.5rem 1.5rem 3rem 0;

    transition: .5s ease;
}

.home-content .social-media button:hover {
    background: var(--white-color);
    color: var(--main-color);
    scale: 1.1;
}



.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .logo-container {
    background-color: #F7F7F7;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .logo-container img {
    margin-top: 90px;
    margin-left: 100px;
    width: 80%;
    height: 80%;

}

span {
    color: var(--main-color);
}

/*SEÇÃO SOBRE*/
.about {
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: -200px;
}

.about-content .about-text {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-se;

}

.about-img {
    width: 40vw;
    height: 650px;
}

.about-img img {
    width: 300px;
    height: 350px;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content {
    text-align: left;
    line-height: 1.2;
    margin-top: -400px;
}

.about-content h3 {
    font-size: 2rem;

}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/*PRODUTOS*/
.services {
    padding-bottom: 10rem;
}

.services h2 {
    margin-bottom: 4rem;
}

.services .services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;
    width: 80%;
    margin-left: 70px;
}

.services-container .services-box {
    background-color: var(--bg-color);
    height: 300px;
    width: 250px;
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.services-box img {
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 45px;
    width: 65%;
    height: 60%;
    transition: .5s ease;

}

.services-box:hover img {
    transform: scale(1.1);
}

.services-box p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 200px;
    margin-left: -200px;
    width: 100%;
}

.services-box .saibaMais {
    position: absolute;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 12px;
    width: 80px;
    height: 25px;
    margin-top: 270px;
    margin-left: 80px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.services-box .saibaMais a {
    font-size: 10px;
    
}

.services-box .saibaMais:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    scale: 1.1;
    border: 1px solid var(--main-color);
}

.services-box .telha {
    margin-left: -190px;
}

.services-box .madeira {
    margin-left: -190px;
}

.services-box .brasilit {
    margin-left: -210px;
}

.services-box .maderiteRosa {
    margin-left: -190px;
}

#btnVermais {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 550px;
    width: 110px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 15px;
    transition: .3s ease-in-out;
}

#btnVermais:hover {
    background-color: var(--white-color);
    color: var(--main-color);
    border: solid 1px var(--main-color);
    scale: 1.1;
}

/**********MARCAS*/
.marcas h2 {
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.logo-marcas {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    gap: 2rem;
}

#brasilit {
    margin-top: 30px;
}

#pado {
    margin-top: 15px;

}

#stanley {
    margin-top: 40px;
}

#plastbind {
    margin-top: 30px;
}

#montana {
    margin-top: 35px;
}

#iquine {
    margin-top: 45px;
}

#eucatec {
    margin-top: 20px;
}

.logo-marcas img {
    margin-top: 10px;
    width: 100px;
    border-radius: 12px;
}

.logo-marcas .logo-img {
    border-radius: 12px;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--white-color);

}

/*CONTATO*/

.contact h2 {
    margin-bottom: 3rem;
}

.contact-services {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-box img {
    width: 25rem;
    height: 30rem;
    border-radius: 1rem;
    transition: .2s ease-in;
}

.contact-box .name .bg-dar {
    background-color: white;
}

.contact-box img:hover {
    transform: scale(1.1);
}

.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: 200px;
}

.social-contact a i span {
    color: var(--bg-color);
}

.social-contact a i {
    background-color: var(--main-color);
    display: flex;
    margin-left: 50px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px;
    width: 75%;
    color: var(--bg-color);
    border-radius: 12px;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.social-contact a i span:hover {
    color: var(--main-color);
}

.social-contact a i:hover {
    background-color: var(--white-color);
    color: var(--main-color);
    scale: 1.1;
    border: solid 1px var(--main-color);
}


.cargo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

.name {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 15px;
    font-weight: bold;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 15px;
}

/*MAPS*/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 3.5rem;
}

.maps {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps iframe {
    width: 80%;
    height: 400px;
    border: 0;
    display: block;
    margin: 0 auto;

}

/*FOOTER*/
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--bg-color);
}

.logoMadenobre img {
    width: 70px;
    height: 50px;
}

.footer-text p {
    font-size: 1.3rem;
    color: var(--main-color);
}

.footer-text p span {
    color: var(--main-color);
}

.logo-whtas {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -1px;
}

.logo-whtas i {
    margin-right: 6px;
}

.logo-email {

    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -1px;

}

.icon {
    margin-right: 6px;
    font-size: 20px;
    color: var(--main-color);
}

.logo-whtas i {
    color: var(--main-color);
    font-size: 18px;
}

.logo-insta {
    display: flex;
}

.logo-insta i {
    color: var(--main-color);
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 2rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* RESPONSIVO */
@media (max-width: 1300px) {
    html {
        font-size: 55%;
    }

    .services {
        margin-left: -80px;
    }

    .services .heading {
        margin-left: 150px;
    }

    .marcas {
        width: 100%;
    }
    .marcas h2 {
        margin-left: 150px;
    }

    .marcas .logo-marcas {
        width: 100%;
        margin-left: 30px;
    }

    .contact {
        margin-left: 50px;
    }

    .footer {
        background-color: var(--white-color);
    }
}

@media (max-width: 1106px) {

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        margin-left: -70px;
    }

    .services .heading {
        margin-left: 200px;
    }

    .about-content h3 {
        margin-top: 4rem;
    }

    .marcas h2 {
        margin-left: 200px;
    }

    .marcas .logo-marcas {
        width: 100%!important;
        margin-left: 100px;
    }

    .logo-marcas .logo-img{
        width: 50px!important;
    }

    .contact {
        width: 100%;
        margin-left: 50px;
    }

    .footer {
        background-color: var(--white-color);
    }
}

@media (max-width: 985px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home  {
        margin-left: 150px;
    }

    .home img {
        width: 600px;
    }

    .home .home-content {
        margin-left: -90px;
    }

    .about {
        width: 100%;
        margin-left: 150px;
    }

    .about .about-img {
        margin-left: -120px;
        margin-top: -80px;
    }

    .about .about-content {
        width: 100%;
        margin-left: 10px;
    }


    .about .about-text {
        width: 600px;

    }

    .services {
        padding-bottom: 7rem;
    }

    .services .heading {
        width: 100%;
        margin-left: 250px;
    }

    .marcas {
        width: 100%;
    }

    .marcas h2 {
        width: 100%;
        margin-left: 250px;
    }
    .contact {
        width: 100%;
        
    }

    .contact .contact-services {
        margin-left: 150px;
    }

    .contact .heading {
        margin-left: 450px;
    }

    .contact-services .contact-box {
        margin-left: 50px;
    }
    .location {
        margin-left: 450px;
    }

    .maps {
        width: 900px;
        margin-left: 120px;
    }

    .footer {
        background-color: var(--white-color);
    }
}


@media (max-width: 768px) {

    #menu-icon {
        display: block;
        transition: transform 0.3s ease;
    }    

    #menu-icon.bx-x {
        transform: rotate(45deg);
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
        
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-left: 150px;

    }

    .home-content {
        width: 100%;
        margin-top: 7rem;
    }

    .home-content h3 {
        margin-top: 0;
        font-size: 2.6rem;
    }

    .home-content h1 {
        width: 100%;
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem 0.75rem 3rem;
    }

    .home img {
        display: none;
    }

    .about {
        width: 100%;
        margin-left: 255px;
        margin-top: 42rem;
        display: grid;
        margin-bottom: 0px;
    }

    .about .heading {
        font-size: 4rem;
        margin-top: -500px;
    }

    .about .about-text {
        margin-top: 15px;
        width: 100%;
        font-size: 18px!important;
    }

    .about .about-content{
        margin-top: -1100px;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .about-content h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    .about-content p {
        margin: 2rem 0 3rem;
        text-align: center;
        
    }

    .about-content .about-text {
        width: 600px;
        font-size: 15px!important;
        margin-top: 10px;
    }

    .about-img img {
        margin-top: -380px;
        margin-left: -200px;
    }
    .services {
        margin-left: 15px;
        margin-top: -550px;
    }

    .services .heading {
        margin-left: 150px;
    }
    .services .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #btnVermais {
        margin-left: 400px;
    }

    .marcas {
        width: 100%;
    }

    .marcas h2 {
        width: 100%;
        margin-top: 15px;
        margin-left: 110px;
    
    }

    .logo-marcas {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 2rem;
        width: 100%;
        margin-left: 150px;
    }

    .contact .heading {
        width: 100%;
        margin-left: 80px;
    }

    .contact-services {
        width: 100%;
        margin-left: 10px!important;
    }

    .contact-box {
        margin-left: 40px;
    
    }

    .location {
        margin-left: 250px;
    }

    .maps {
        width: 800px;
        margin-left: 40px;
    }

    .footer {
        display: none;
    }
}

@media (max-width: 617px) {

    header {
        width: 100%!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    .home .home-content {
        width: 100%;
    }
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 750px;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .about .about-content p {
        width: 100%;
        font-size: 12px!important;
    }
/*
    .about .about-content {
        width: 100%;
        margin-left: -20px;
    }

    .about .about-content h2 {
        margin-top: 270px;
        margin-left: -200px;
    }

    .about .about-content .about-text {
        margin-left: -250px;
        font-size: 20px!important;
    }
*/
    .about .about-img {
        display: none;
    }

    .services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -900px;
    }

    .services .heading  {
        margin-left: 50px;
    }

    .services .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        
    }

    .services-container .services-box {
        width: 200px;
        height: 300px;
    }

    .services-box .saibaMais {
        margin-left: 60px;
    }

    .services-box .telha {
        margin-left: -170px;
    }


    .btnMais {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btnVermais {
        width: 150px;
        margin-left: 80px;
    }



/*
    .services .heading {
        width: 100%;
        margin-left: 150px;
    }

    .services .services-container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 100px;
    }

    .services-container .services-box {
        width: 200px;
        height: 200px;
    }

    .services-box p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        margin-left: -100px;   
    }

    
*/
    .services-box .maderiteRosa {
        margin-left: -170px;
    }

    .services-box .maderiteAzul {
        margin-left: -170px;
    }

    .services-box .brasilit {
        margin-left: -180px;
    }

    .services-box .madeira {
        margin-left: -170px;
    }

    .services-box .deck {
        width: 100%;
        margin-left: -140px;
    }

    .services-box .ripa {
        width: 100%;
        margin-top: 180px;
        margin-left: -160px;
    }

    .services-box .caibo {
        width: 100%;
        margin-top: 180px;
        margin-left: -170px;
    }

    .services-box .barrote {
        font-size: 12px;
        width: 100%;
        margin-top: 180px;
        margin-left: -160px;
    }

    .services-box .linha {
        font-size: 14px;
        width: 100%;
        margin-top: 180px;
        margin-left: -160px;
    }

    .services-box .forro {
        font-size: 14px;
        width: 100%;
        margin-top: 180px;
        margin-left: -180px;
    }

    .services-box .forra {
        font-size: 12px;
        width: 100%;
        margin-top: 180px;
        margin-left: -160px;
    }

    .marcas {
        width: 100%;
    }

    .marcas h2 {
        width: 100%;
        font-size: 30px;
        margin-top: 55px;
        margin-left: 50px;
    }

    .marcas .logo-marcas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-left: 80px;
    }



    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact .heading {
        width: 100%;
        margin-left: 150px;
        font-size: 30px;
    }

    .contact .contact-services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: -100px;
        margin-bottom: 200px;
    }

    .contact-services .contact-box {
        width: 150px;
        height: 380px;
        margin-left: 15px;
    }

    .contact-services .contact-box img{
        width: 150px;
        height: 180px;
    }

    .contact-services .contact-box .name {
        width: 100%;
        font-size: 12px;
        margin-left: 35px;
    }

    .contact-services .contact-box .cargo {
        width: 100%;
        font-size: 12px; 
    }
    .contact-services .contact-box .email {
        width: 100%;
        font-size: 10px;
    }

    .social-contact {
        width: 100%;
        margin-left: -35px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .social-contact a {
        width: 130px;
    }

    .social-contact a i {
        font-size: 12px;
    }

    .social-contact a i span {
        font-size: 12px;
    }

    .location {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .location h2 {
        width: 100%;
        margin-left: 40px;
    }

    .maps {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .maps iframe {
        width: 100%;
        margin-left: 40px;
    }

    footer {
        width: 400px!important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-text {
        width: 100%;
        margin-left: -250px;
    }

    .footer .footer-iconTop {
        margin-left: -150px!important;
    }
}

@media (max-width: 450px) {
    #menu-icon {
        margin-right: 0px !important;
        font-size: 5rem!important;
    }

    .home {
        width: 100%;
        margin-left: 180px;
    }

    .home .home-content h1 {
        margin-left: 20px;
        width: 100%;
    }

    .home-content .social-media button {
        display: none;
    }

   

    .home .home-content h3 {
        width: 100%;
        font-size: 40px;
        margin-left: 20px;
    }



    .about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 500px;
        margin-left: 250px;
        margin-bottom: 180px;
    }

    .about .heading {
        width: 500px;
        margin-left: -180px;
        margin-top: 120px;
    }
    .about .about-content p {
        width: 500px!important;
        font-size: 20px!important;
        margin-left: -180px!important;
        
    }

    .about .about-content h3 {
        margin-top: 3rem;
    }

    .services {
        width: 100%;
        margin-left: 20px;
        margin-top: -580px;
    }

    .services .heading {
        width: 500px;
        margin-left: 240px;
    }
    .services .services-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-left: 80px;
    }

    .services-container .services-box {
        margin-left: 10px;
        width: 500px;
        height: 450px;
    }

    .services-container .services-box .saibaMais {
        width: 100px;
        height: 35px;
        margin-left: 200px;
        font-weight: 400;
        margin-top: 400px;
    }

    .services-container .services-box img{
        width: 400px;
        height: 300px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .services-container .services-box p {
        width: 100%;
        margin-left: -80px;
        margin-top: 300px;
        font-size: 20px;
    }

    .services-box .maderiteRosa {
        margin-left: -450px!important;
        width: 100% !important;
       
    }

    .services-box .maderiteAzul {
       margin-left: -450px !important;
       width: 100% !important;
       
    }

    .services-box .brasilit {
        margin-left: -420px!important;
    }

    .services-box .telha {
        margin-left: -420px!important;
    }

    .services-box .madeira {
        margin-left: -420px !important;
    }

    .services-box .deck {
        width: 100%!important;
        margin-left: -410px !important;
    }

    .services-box .ripa {
        margin-left: -410px !important;
    }

    .services-box .barrote {
        font-size: 20px!important;
        margin-top: 250px!important;
        margin-left: -400px !important;
    }

    .services-box .caibo {
        margin-left: -420px !important;

    }

    .services-box .linha {
        margin-left: -420px !important;
    }

    .services-box .forro {
        margin-left: -400px !important;
    }

    .services-box .forra {
        margin-top: 250px!important;
        margin-left: -400px !important;
    }

    #btnVermais {
        width: 200px;
        margin-left: 250px;
        margin-bottom: 55px;
    }

    .marcas {
        width: 100%;
    }
    .marcas h2 {
        width: 520px;
        margin-left: 10px;
    }

    .marcas .logo-marcas {
        width: 100%;
        margin-left: -10px;
    
    } 

    .logo-marcas .logo-img {
        margin-left: 80px;
    }

    .contact {
        width: 100%;
        margin-left: 110px;
    }

    .contact .heading {
        margin-left: 40px!important;
    }

    .contact .contact-services {
        width: 100%;
        margin-left: -50px!important;
    }
    .contact-services .contact-box {
        margin-left: 10px;
        width: 150px;
        height: 200px;
    }

    .contact-services .contact-box img {
        width: 150px;
        height: 200px;
    }
    .contact .heading {
        margin-left: 10px;

    
    }

    .contact .name {
        font-size: 12px;
        margin-left: 40px;
    }

    .contact .cargo {
        font-size: 12px;
        margin-left: 20px;
    }

    .contact .email {
        display: none;
    }

    .social-contact {
        width: 100%;
        margin-left: -15px;
    }


    .location {
        width: 100%;
    }

    .location h2 {
        width: 100%;
        margin-left: -100px;
    }

    .maps {
        width: 100%;
    }

    .maps iframe {
        width: 800px;
        margin-left: -20px;
    }

    .footer {
        display: none;
    }



}


@media (max-width: 365px) {

    .home {
        margin-bottom: 550px;
    }
    .about {
        width: 100%;
        margin-left: 250px;
        margin-bottom: 300px;
    }
    
    .about .about-content p {
        width: 100%;
        font-size: 19px!important;
    }

    .about .heading {
        margin-left: -180px!important;
    }

    .services {
        width: 100%;

    }

    .services .heading {
        margin-left: 150px;
    }
    .services .services-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .services-container .services-box {
        margin-left: 30px;
        width: 350px;
        height: 280px;
    }

    .services-container .services-box img {
        width: 200px;
        height: 150px;
        margin-left: 80px!important;
    }

    .services-container .services-box p {
        width: 100%;
        margin-top: 150px;
        margin-left: -140px;
        font-size: 30px;
    }

    .services-box .maderiteAzul {
        margin-left: -280px !important;
        font-size: 30px !important;
    }

    .services-box .maderiteRosa {
        margin-left: -280px !important;
        font-size: 30px !important;
    }

    .services-box .brasilit {
        margin-left: -280px !important;
        
    }

    .services-box .telha {
        margin-left: -280px !important;
        
    }

    .services-box .madeira {
        margin-left: -280px !important;
        
    }

    .services-box .deck {
        margin-left: -250px !important;
    }

    .services-box .ripa {
        margin-left: -250px !important;
        
    }

    .services-box .barrote {
        margin-left: -250px !important;
        font-size: 24px !important;
    }

    .services-box .caibo {
        margin-left: -250px !important;
        font-size: 24px !important;
    }

    .services-box .linha {
        margin-left: -280px !important;
        font-size: 30px !important;
    }

    .services-box .forro {
        margin-left: -260px !important;
        font-size: 25px !important;
    }

    .services-box .forra {
        margin-left: -250px !important;
        font-size: 20px !important;
    }


    .location {
        margin-left: 350px;
        margin-top: 150px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer .footer-iconTop {
        display: none;
    }

    
}

@media (max-width: 322px) {

    .home {
        margin-bottom: 550px;
    }

    .home .home-content {
        margin-top: 10rem;
    }

    .home .home-content h3 {
        font-size: 2.2rem;
    }

    .home .home-content h1 {
        font-size: 3rem;
    }


    .about .about-content .heading {
        margin-bottom: 6rem;
    }

    .services .heading {
        margin-left: 150px;
    }
}


/* PAGINA TODOS OS PRODUTOS*/

/*SEÇÃO PRODUTOS*/
.products-services .products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.products-container .products-box {
    background-color: var(--bg-color);
    height: 250px;
    width: 180px;
    position: relative;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.products-box img {
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 35px;
    width: 100px;
    height: 120px;
    transition: .5s ease;

}

.products-box .saibaMaisPro{
    position: absolute;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 12px;
    width: 80px;
    height: 25px;
    margin-top: 220px;
    margin-left: 50px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.products-box .saibaMaisPro a {
    font-size: 10px;

}

.products-box .saibaMaisPro:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    scale: 1.1;
    border: 1px solid var(--main-color);
}

.products-box:hover img {
    transform: scale(1.1);
}

.products-box p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 150px;
    margin-left: -120px;
    width: 100%;
}

.products-box .brasilit {
    margin-left: -130px;
}

.products-box .telha {
    margin-left: -140px;
}

.products-box .madeira {
    margin-left: -140px;
}

.products-box .deck {
    margin-left: -130px!important;
}

.products-box .maderiteRosa {
    margin-left: -140px;
}

.products-box .maderiteRosa {
    margin-left: -140px;
}

.products-box .maderiteRosa {
    margin-left: -140px;
}

@media only screen and (max-width: 768px) {

    .products-services .products-container {
        display: grid;
        margin-top: 100px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2.5rem;
        width: 100%;
    }

    .products-services .heading-products {
        margin-top: 500px;
        color: #000;
        font-size: 5.5rem;
        margin-left: 30px;
    }
    
    .products-container .products-box {
        background-color: var(--bg-color);
        height: 250px;
        width: 180px;
        position: relative;
        display: flex;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }

    .btnVerMaisP {
        margin-left: 50px;
    }

    .footer-products {
        display: none;
    }

}

@media (max-width: 450px) {
    .products-services .products-container {
        display: grid;
        margin-top: 100px;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2.5rem;
        width: 100%;
    }

    .products-services .heading-products {
        margin-top: 500px;
        color: #000;
        font-size: 5.5rem;
        margin-left: 50px;
    }

    .products-container {
        margin-left: -20px!important;
    }

    .products-container .products-box {
        background-color: var(--bg-color);
        height: 250px;
        width: 180px;
        position: relative;
        display: flex;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }

    .products-box img {
        width: 180px!important;
        height: 150px!important;
        margin-left: 5px !important;
    }

    .products-box p {
        width: 100%;
        margin-top: 150px!important;
        font-size: 15px!important;
        margin-left: -150px!important;
    }

    .products-box .saibaMaisPro {
        margin-top: 220px!important;
        font-weight: 400;
        width: 80px!important;
        margin-left: 50px!important;
    }

    .products-box .brasilit {
        margin-left: -180px!important;
    }

    .products-box .maderiteRosa {
        margin-left: -180px !important;
        font-size: 15px !important;
    }

    .products-box .maderiteAzul {
        margin-left: -180px !important;
        font-size: 15px !important;
    }

    .products-box .telha {
        margin-left: -180px !important;
        font-size: 15px !important;
    }

    .products-box .madeira {
        margin-left: -180px !important;
        font-size: 15px !important;
    }

    .products-box .barrote {
        margin-top: 150px !important;
        margin-left: -180px !important;
        font-size: 12px !important;
    }

    .products-box .forra {
        margin-left: -180px !important;
        font-size: 12px !important;
    }

}

@media (max-width: 360px) {
    .products-services .products-container {
        display: grid;
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;
        width: 100%;
    }

    .products-container .products-box {
        background-color: var(--bg-color);
        height: 250px;
        width: 230px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }

        .products-container .products-box img {
            margin-top: -80px!important;
            margin-left: 25px!important;
  
        }

        .products-box p {
            width: 100%;
            margin: 0 50px -50px 0;
        }

        .btnVerMaisP {
            margin-left: 150px!important;
        }
}